<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="icon" href="logoMd.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Madeline Doering">
    <meta name="author" content="Madeline Doering">
    <meta name="keywords" content="Madeline Doering">

    <link rel="stylesheet" type="text/css" href="main.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
    
  </head>
   <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="#research">Research</a></li>
<li><a href="/CrashCourse">CrashCourse</a></li>
<li><a href="#teaching">Teaching</a></li>
<li><a href="/femmeinstem">STEM-Powered</a></li>
<li><a href="#contact">Contact</a></li>
<!-- <li><a href="/blog">Blog</a></li>
<li><a href="/archive">Archive</a></li> -->
</ul>
    </nav>
<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
      <footer>
   <ul>
   <li><a href="#top" title="Back to top of page">Back to top of page</a></li>
   </ul>
  </footer>
  </body>
</html>
